<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parola mı unuttum</title>
</head>

<body>
  <navbar></navbar>
  <div class="container">
    <h2 class="mt-4">Yeni parola</h2>
    <hr>
    <div class="row">
      <form #form="ngForm" (ngSubmit)="resetPasswordForm(form)">
        <div class="alert alert-{{infoColor}}" *ngIf="info != ''">
          {{info}}
        </div>
        <div class="my-3">
          <label class="form-label">Yeni parola</label>
          <input type="password" class="form-control" name="password" ngModel required placeholder="Yeni parola" password>
        </div>
        <div style="float:right;">
          <button type="submit" class="btn btn-primary">Parolamı kaydet</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
